# =====================================
# Binaries
# =====================================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# =====================================
# Build folders
# =====================================
bin/
dist/
build/

# =====================================
# Go workspace
# =====================================
go.work
go.work.sum

# =====================================
# Environment files
# =====================================
.env
.env.local
.env.*.local

# =====================================
# IDEs
# =====================================

# VS Code
.vscode/

# JetBrains (GoLand, IntelliJ)
.idea/

# =====================================
# OS files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Air (Hot Reload)
# =====================================
tmp/
.air.toml

# =====================================
# Coverage
# =====================================
coverage.out
coverage.html

# =====================================
# Delve Debugger
# =====================================
__debug_bin